In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.DataFrame({'edad':[25,30,35],'nombre':['a','j','p']})

In [3]:
df[df['edad']>30]

   edad nombre
2    35      p

In [28]:
s=pd.Series([1.4,0.4,5.3],index=[4, 5 ,6])

In [32]:
s.align()

TypeError: NDFrame.align() missing 1 required positional argument: 'other'

In [33]:
arr=np.array([0,1,2,3,4,5,6,7,8,9])

In [34]:
arr[arr % 2 == 1] = -1

In [35]:
print(arr)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [18]:
s.notnull()

a    True
b    True
c    True
dtype: bool

In [17]:
s.notna()

a    True
b    True
c    True
dtype: bool

In [7]:
data = {'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]}

In [23]:
df = pd.DataFrame(data)

In [24]:
df.stat()

         A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [15]:
df.sort_values(by='C',ascending=False)

   A  B  C
2  3  6  9
1  2  5  8
0  1  4  7

In [22]:
print(arr)

[1 2 3]

In [21]:
arr = np.array([1,2,3])