# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [38]:
def hash_function(key):
    hash_value = 0
    for index, character in enumerate(repr(key), start=1):
        hash_value = (hash_value * 31) + ord(character) * index
    return hash_value

In [2]:
repr('Hola Mundo\n')
print('Hola Mundo\n')

Hola Mundo

In [7]:
ord('h')

104

In [8]:
import pandas as pd

In [39]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1', thousands='.')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 493.8+ KB

In [40]:
df.dropna(inplace=True)

In [41]:
df['Clave_Hash'] = df['Código de país'].apply(hash_function)

In [42]:
df.reset_index(drop=True)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
0,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,40091410
1,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,40091410
2,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,40091410
3,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,40091410
4,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,40091410
...,...,...,...,...,...,...,...
9024,ZWE,Zimbabue,África subsahariana,2007,9732.220,0.731867,41639271
9025,ZWE,Zimbabue,África subsahariana,2008,7682.370,0.569255,41639271
9026,ZWE,Zimbabue,África subsahariana,2009,8239.750,0.600521,41639271
9027,ZWE,Zimbabue,África subsahariana,2010,9028.150,0.646073,41639271
9028,ZWE,Zimbabue,África subsahariana,2011,9860.560,0.691698,41639271

In [26]:
df.columns

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)', 'Clave_Hash'],
      dtype='object')

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [43]:
df_unicos = df[['Clave_Hash','Código de país','Nombre del país', 'Región']].drop_duplicates(ignore_index=True)
df_unicos

,Clave_Hash,Código de país,Nombre del país,Región
0,40091410,ABW,Aruba,América Latina y Caribe
1,40123650,AND,Andorra,Europa y Asia Central
2,40100958,AFG,Afganistán,Sur de Asia
3,40104833,AGO,Angola,África subsahariana
4,40117636,ALB,Albania,Europa y Asia Central
...,...,...,...,...
194,41528787,YEM,Yemen,Oriente Medio y Norte de África
195,41575969,ZAF,Sudáfrica,África subsahariana
196,40245697,COD,Congo (República Democrática),África subsahariana
197,41610069,ZMB,Zambia,África subsahariana
198,41639271,ZWE,Zimbabue,África subsahariana

In [44]:
df.drop(['Código de país','Nombre del país', 'Región'], inplace=True, axis=1)

In [45]:
df

        Año  CO2 (kt)  CO2 per cápita (toneladas métricas)  Clave_Hash
26     1986   179.683                             2.868319    40091410
27     1987   447.374                             7.234964    40091410
28     1988   612.389                            10.026508    40091410
29     1989   649.059                            10.634733    40091410
30     1990  1840.830                            29.620165    40091410
...     ...       ...                                  ...         ...
11122  2007  9732.220                             0.731867    41639271
11123  2008  7682.370                             0.569255    41639271
11124  2009  8239.750                             0.600521    41639271
11125  2010  9028.150                             0.646073    41639271
11126  2011  9860.560                             0.691698    41639271

[9029 rows x 4 columns]

In [46]:
df_unicos['Clave_Hash'].value_counts()

Clave_Hash
40091410    1
40852150    1
40865201    1
40872207    1
40861853    1
           ..
40480894    1
40482754    1
40492550    1
40492674    1
41639271    1
Name: count, Length: 199, dtype: int64

In [49]:
df_unicos.to_csv('Paises.csv', index=False)
df.to_csv('Emisiones.csv', index=False)