Utilizando Python cálcular las siguientes probabilidades. Para cada uno intenta determinar que método aplicaste.<br>

1. Lanza una moneda al aire 10 veces, ¿cuantos resultados posibles forman parte del espacio muestral?.

In [2]:
2 ** 10

1024

2. En un aeropuerto se tiene a 10 pasajeros esperando en la sala de preembarque, la polícia debe controlar a 3 de ellos. ¿Cuantas combinaciones posibles se pueden obtener?.

In [3]:
from math import factorial

poblacion = 10
muestra = 3
def combinatoria(N, n):
    resultado = factorial(N) / (factorial(n) * factorial(N-n))
    return resultado

combinatoria(poblacion, muestra)

120.0

3. La Agencia Nacional de Seguridad Vial realizó una investigación para saber si los conductores de están usando sus cinturones de seguridad. Los datos muestrales fueron los siguientes:<br>
Conductores que emplean el cinturón <br>

![Ejercicio](../_src/assets/ejercicio3.PNG)

In [4]:
import pandas as pd
regiones = ['Norte','Noreste','Sur','Centro']
valores_si = [148, 162, 296, 252]
valores_no = [52, 54, 74, 48]
datos = dict(Si = valores_si, No = valores_no)
cuadro = pd.DataFrame(datos, index=regiones)
cuadro = cuadro / (sum(cuadro.sum()))
cuadro.loc[5] = sum(cuadro.Si), sum(cuadro.No)
cuadro = cuadro.rename(index={5: 'Total'})
cuadro = cuadro.assign(Total = cuadro.Si + cuadro.No)
 
cuadro

               Si        No     Total
Norte    0.136280  0.047882  0.184162
Noreste  0.149171  0.049724  0.198895
Sur      0.272560  0.068140  0.340700
Centro   0.232044  0.044199  0.276243
Total    0.790055  0.209945  1.000000

In [9]:
import pandas as pd
regiones = ['Norte','Noreste','Sur','Centro']
valores_si = [148, 162, 296, 252]
valores_no = [52, 54, 74, 48]
datos = dict(Si = valores_si, No = valores_no)
df = pd.DataFrame(datos, index=regiones)
df = df.assign(Total = df.Si + df.No)
df = df.assign(ProbabilidadSI = df.Si / df.Total)
df = df.assign(ProbabilidadNo = df.No / df.Total)
df

          Si  No  Total  ProbabilidadSI  ProbabilidadNo
Norte    148  52    200            0.74            0.26
Noreste  162  54    216            0.75            0.25
Sur      296  74    370            0.80            0.20
Centro   252  48    300            0.84            0.16

- a) ¿Qué metodo cree que se utilizo para asignar probabilidades?.
- b) Construya un cuadro similar, pero con la asignación de probabilidades.
- c) ¿Cuál sería el mejor método pára estimar la probabilidad de que en Argentina un conductor lleve puesto el cinturón?.
- d) Un año antes, la probabilidad en Argentina de que un conductor llevara puesto el cinturón era 0.75. El director de ANSV, se esperaba que la probabilidad llegara a 0.78. ¿Estará satisfecho con los resultados del estudio? 
- e) ¿Cuál es la probabilidad de que se use el cinturón en las distintas regiones del país? ¿En qué región se usa más el cinturón?(Utilizar misma tabla que el ejercicio anterior).

4. Crear una funcion que permita calcular la probabilidad de los siguientes eventos en un baraja de 52 cartas.<br>
- Obtener una carta roja.<br>
- Obtener una carta negra.<br>
- Obtener una pica.<br>
- Obtener un trébol.<br>
- Obtener un corazón.<br>
- Obtener un diamante.<br>

In [10]:
#Baraja Francesa 52
def probabilidadCartas(categoria):
    cartas_totales = 52
    cartas_color = 26
    cartas_figurita = 13
    if categoria == 'rojo' or categoria == 'negro':
        return cartas_color/cartas_totales
    elif categoria in ('pica','trebol', 'corazon', 'diamante'):
        return cartas_figurita/cartas_totales

In [12]:
probabilidadCartas('pica')

0.25

5. La probabilidad de que salga un 7 o un 8 al seleccionar una carta de una baraja de las 52 cartas que contiene el mazo. <br>

In [15]:
4/52 + 4/52

0.15384615384615385

6. La probabilidad de tu país gane el mundial de fútbol.<br>

In [ ]:
Brasil = 5
Uruaguay = 2
Argentina = 3

Brasil: 5 títulos (1958, 1962, 1970, 1994, 2002)
Alemania: 4 títulos (1954, 1974, 1990, 2014)
Italia: 4 títulos (1934, 1938, 1982, 2006)
Argentina: 3 títulos (1978, 1986, 2022)
Uruguay: 2 títulos (1930, 1950)
Francia: 2 títulos (1998, 2018)
Inglaterra: 1 título (1966)
España: 1 título (2010)

Nike:
En el año fiscal 2023, Nike reportó ingresos de aproximadamente $51.2 mil millones.
Adidas:
En el año fiscal 2022, Adidas reportó ingresos de aproximadamente €22.5 mil millones (aproximadamente $24.7 mil millones).

7. Un experimento que tiene tres resultados es repetido 50 veces y se ve que E1 aparece 20 veces, E2 13 veces y E3 17 veces. Asigne probabilidades a los resultados.

In [16]:
experimento = 50
e1 = 20
e2 = 13
e3 = 17
print(f'{e1/50},{e2/50},{e3/50}')

0.4,0.26,0.34